@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

body {
    background-color: #e7e7e7;
    justify-content: center;
}
.container {
    margin: 0 0;
}
#chord {
    font-family: 'PT Sans', sans-serif;
    margin: 0 0;
    text-align: center;
    color: #696969;
    font-size: 100px;
    cursor: pointer;
    user-select: none;
}